<div class="task-form">
  <h3>Add A Task</h3>
  <form action="/tasks/add" method="post">
    <div class="form-group">
      <label for="title">Write a title:</label>
      <input
        id="title"
        type="text"
        name="title"
        placeholder="Title"
        autofocus
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        name="description"
        rows="3"
        placeholder="Add a Description"
      ></textarea>
    </div>
    <button class="btn" type="submit">Add</button>
  </form>
</div>